table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

td,th {
  border: 1px solid #AAAAAA;
  padding: 5px 3px;
}

tr:nth-child(even)
{background-color: #D0E4F5;}


tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1C6EA4;
  color: white;
}