<HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutreservation.php">
<table>
<caption>Ajouter reservation</caption>
<tr>
<td>Id_reservation</td>
<td><input type="number" name="Id_reservation"></td>
</tr>
<tr>
<td>Id_cour</td>
<td><input type="number" name="Id_client"></td>
</tr>
<tr>
<td>Id_client</td>
<td><input type="number" name="Id_cour"></td>
</tr>
<tr>
<td>dates</td>
<td><input type="number" name="dates"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>