<HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutcour.php">
<table>
<caption>Ajouter cour</caption>
<tr>
<td>Id_cour</td>
<td><input type="text" name="Id_cour"></td>
</tr>
<tr>
<td>Id_backupcoach</td>
<td><input type="text" name="Id_backupcoach"></td>
</tr>
<tr>
<td>Id_coach</td>
<td><input type="text" name="Id_coach"></td>
</tr>
<tr>
<td>Capacity</td>
<td><input type="number" name="Capacity"></td>
</tr>
<tr>
<td>Duration</td>
<td><input type="text" name="Duration"></td>
</tr>
<td>Heure</td>
<td><input type="number" name="Heure"></td>
</tr>
<tr>
<td>Jour</td>
<td><input type="text" name="Jour"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>